:root{
    background-color: rgb(33, 32, 58);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(32, 32, 52);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 3rem;
    border: 0.005rem solid black;
}
header:hover{
    background-color: rgb(26, 26, 41);
    box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.2);
}
#profile{
    width: 5vw;
    border-radius: 50%;
    display: inline;
}
.head-element{
    display: inline-flex;
    gap: 1rem;
    align-items: center;
}
.head-element ul li a{
    text-decoration: none;
    color: rgb(87, 86, 86);
}
.head-element ul li a:hover{
    text-decoration: none;
    color: white;
    font-size: 120%;
}
ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 3rem;
}


.sections{
    background-color: rgb(46, 44, 79);
    margin: 0.5rem;
    width: 95%;
    height: auto;
    border-radius: 2rem;
    border: 0.05rem solid black;
    padding: 2rem;
}
.sections:hover{
    background-color: rgb(51, 50, 90);
    border: 0.1rem solid black;
    box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.2);
    transform: scale(1.002);
}

.heading{
    font-size: 9vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#image{
    position: absolute;
    align-items: center;
    justify-self: center;
    display: inline;
    margin-left: 30%;
    margin-top: -9%;
    height: 100vh;
    z-index: 999;
    /* opacity: 0.8; */
}

.home-flex{
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.home-sub-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-des{
    width: 45%;
    font-size: 2.8vh;
}
.socials{
    /* margin-top: 8rem; */
    z-index: 200;
}
.socials img{
    height: 4rem;
    border: 50%;
    gap: 1rem;
    z-index: 200;
}
.socials img:hover{
    transform: scale(1.2);
}
#line1{
    top: -6vh;
    font-family: cursive;
    font-size: 8vh ;
    left: 5vw;
    margin: 0px;
    padding: 0px;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: orange;
    position:relative;
    /* padding-left: 3rem; */
    font-family: cursive;
    font-size: 7vh;
    word-spacing: 20vw;
}

.about-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#about-image{
    height: 45vh;
    margin-top: -12vh;
    border-radius: 50%;
}
#about-description{
    font-size: 2.8vh;
    width: 70%;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem; 
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 32, 52);
    height: 40vh;
    width: 22vw;
    border: 0.01rem solid wheat;
}
.card:hover{
    background-color: rgb(32, 31, 52);
    transform: scale(1.08);
    box-shadow: 0 0.001rem 1rem 0.01rem wheat;
    z-index: 100;
}
.card-img{
    width: auto;
    height: 20vh;
}
.card h3{margin-left: 0.5rem;}
.card p{margin-left: 0.5rem;}

.footer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 13rem;
    background-color: rgb(35, 34, 38);
    /* height: 50vh; */
    width: 100%;
    padding: 3rem;
    padding-left: 5rem;
}
#dash{
    color: yellow;
}
.contact-details{
    margin-top: 5vh;
    gap: 1h;
    display: flex;
    flex-direction: column;
}
.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    height: 6vh;
    gap: 5vh;
    margin: 1vh;
}
.box1{
    width: 300%;
}
.box2{
    width: 300%;
    height: 5rem;
}

@media(max-width: 450px){
    header{
        width: 340%;
    }
    .sections{
        width: 335%;
    }
    #image{
        margin-top: -40%;
        margin-left: 93%;
        height: 90vh;
    }
    #line1{
        font-size: 6vh;
    }
    #line2{
        font-size: 5.8vh;
    }
    .home-des{
        /* font-size: 2.5vh; */
        width: 105vw;
    }
    .card{
        width: auto;
    }
    #about-description{
        font-size: 2.4vh;
        width: 70%;
    }
    .socials{
        margin-top: 5rem;
        margin-right: 1rem;
    }
}