:root{
    background-color: rgb(41, 41, 54);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    /* position: absolute; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 65);
    z-index: 100;
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}

header a{
    text-decoration: none;
    color: rgb(142, 140, 140);
    gap: 30px;
}

.name{
    font-size: 30px;
    margin-left: 24px;
    /* font-family:cursive; */
    text-shadow: 0 5px 5px black;
}

nav{
    margin-left: -100px;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
    font-size: large;
    /* font-weight: bold; */
    text-shadow: 0 5px 5px black;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(94, 92, 92);
    
}

#profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 20px;
}


.home{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#image{
    width: 40%;
    height: absolute;
    object-fit: contain;
    border-radius: 12px;
    margin-top: -50px;
    z-index: 10;
    text-shadow: 0 10px 5px black;
    opacity: 0.95;
}

#line1{
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 8;
}

#line2{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 130px;
    font-family:cursive;
    color: rgb(247, 163, 7);
    z-index: 8;
}

#line3{
    position: absolute;
    top: 197px;
    left: 100px;
    font-size: 130px;
    font-family:cursive;
    color: rgb(247, 163, 7);
    z-index: 8;
    opacity: 1;
    text-shadow: 0 8px 10px black;
}

#des{
    position: absolute;
    top: 450px;
    width: 490px;
    left: 100px;
    font-size: 25px;
    z-index: 10;
    color: white;
    font-family: cursive;
    text-shadow: 0 5px 5px black;
}



.home ul{
    margin: 0px;
    padding: 10px;
    position: absolute;
    gap: 40px;
    top: 530px;
    right: 190px;
    z-index: 110;
    list-style: none;
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.home ul img {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    z-index: 120;
}
.home ul a:hover{
    zoom: 105%;
    box-shadow: 2px;
    transition: all 0.3s ease-in-out;
}



.about{
    display: flex;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 370px;
    border-radius: 12px;
    font-family: cursive;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

#about{
    font-size: 70px;
    left: 100px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 0 5px 5px black;
}

.about-des{
    width: 830px;
    font-size: 20px;
    top: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
    text-shadow: 0 5px 5px black;
}

#collage{
    position: relative;
    top: -30px;
    margin-left: 30px;
    width: 380px;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: fill;
}

.about:hover{
    scale: 101%;
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

